#todo-list {
    background-color: #f4f4f4;
    border: 1px solid #ccc;
    padding: 20px;
    margin-top: 20px;
    border-radius: 5px;
}

nav ul {
    list-style-type: none;
}
  
nav ul li {
    display: inline;
    margin-right: 20px;
}
  
nav ul li a {
    text-decoration: none;
    color: #fff;
}

li {
    cursor: pointer;
    padding: 5px;
    margin: 5px;
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
}

li:hover {
    background-color: #f1f1f1;
}

.completed {
    text-decoration: line-through;
    color: #888;
}

@media (max-width: 768px) {
    li {
        padding: 4px;
        margin: 4px;
    }
}